<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">
        <receiver
            android:name=".DebugPollReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="cn.edu.cupk.portalreader.DEBUG_RUN_POLL" />
                <action android:name="cn.edu.cupk.portalreader.DEBUG_PREPARE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".DebugAuthReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="cn.edu.cupk.portalreader.DEBUG_TEST_LOGIN" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
